WebClient/MyWebClient/Service References/ServiceReference/ProductRentalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductRentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductRentalService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRentalService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductRentalService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRentalService/GetProduct" message="tns:IProductRentalService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRentalService/GetProductResponse" message="tns:IProductRentalService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRentalService/GetProducts" message="tns:IProductRentalService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRentalService/GetProductsResponse" message="tns:IProductRentalService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRentalService/CreateProduct" message="tns:IProductRentalService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRentalService/CreateProductResponse" message="tns:IProductRentalService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRentalService/UpdateProduct" message="tns:IProductRentalService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRentalService/UpdateProductResponse" message="tns:IProductRentalService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRentalService/DeleteProduct" message="tns:IProductRentalService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRentalService/DeleteProductResponse" message="tns:IProductRentalService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductRentalService" type="tns:IProductRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductRentalService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductRentalService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductRentalService/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductRentalService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductRentalService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductRentalService">
    <wsdl:port name="BasicHttpBinding_IProductRentalService" binding="tns:BasicHttpBinding_IProductRentalService">
      <soap:address location="http://localhost:8733/ProductRentalService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>